/*
!/*.gitignore

# Quartus Prime Source Files

## Project files:
!*.qpf
!*.qsf
# !*.qws

## Source files:
!*.bdf
!*.v

## Source Directories:
!components/
!memory/
!io_control/
!pipe_regs/

## SOPC builder source files:
!*.ptf
!*.bsf

## Board description:
!**/class.ptf

## Software source files:
!*.c
!*.s

# Quartus Prime Binary Files

## Hardware binary files
!*.sof

## Software binary files
!*.py
